// Fonts
$primary_font: "Roboto", sans-serif;

// Media queries
$celphone: 480px;
$tablet: 768px;
$laptop: 1024px;

// Colors
$primary: #e8505b;
$secundary: #455a64;
$black: #000;
$white: #fff;
$lightGray: #eceeef;

// units
$spacing: 5rem;
