@use "base/variables" as v;
@use "base/mixins" as m;

.menu-content {
  background-image: url(../img/cafe.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  aspect-ratio: 3 / 8;

  @include m.cellphone {
    aspect-ratio: 3/5;
  }

  @include m.tablet {
    @include m.grid(2, v.$spacing);
    aspect-ratio: 16 / 6;
    background-size: 40%;
    background-position: bottom right;
  }

  .text {
    p {
      font-size: 2rem;
    }
  }
}
